<%- include("../partials/header") %>


<div class="container">
<div id="Homeheading">
<h3 >What is your question ? </h3>
<a href="/home/new" class="btn btn-primary">Ask Question</a>
</div>



<div class="row" >
  <div id="sidediv" class="col-sm-3 col-md-3">
    <ul id="sidelist">
      <li >All</li>
      <li>journalism</li>
      <li>writing</li>
      <li>psychology</li>
      <li>finance</li>
      <li>economics</li>
      <li>novel</li>
      <li>fine arts</li>
      <li>fiction</li>
    </ul>
  </div>


  <div class="col-sm-6 col-md-6">
<% list.forEach(function(item){ %>
 
    <div class="thumbnail">
      
      <div class="caption">
        <h3><%= item.question %> </h3>
        <img src="<%=item.image %>" >
        <p><a href="/home/<%= item._id %>" class="btn btn-primary" role="button">Answers</a> </p>
      </div>
    </div>
    <% }) %>
  </div>
  
  <div id="Rightsidediv" class="col-sm-3 col-md-3">
    <form action="/home/word" method="POST">
      <input type="text" name="word" placeholder=" word dictionary"  required>
      <button class="btn btn-primary" type="submit">find</button>
    </form>
    
    </div>


</div>


<%- include("../partials/footer") %>